#chat-input {
    width: 100%;
    height: fit-content;
    min-height: 42px;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: #3C4261;
    border-radius: 7px;
    overflow: scroll;
    border: 1px solid #b9b4c777;
}

#chat-input textarea{
    color: #b9b4c7;
    resize: none;
    padding: 11px 20px 11px 10px;
    flex-grow: 1;
    font-size: 13px;
    height: 16px;
    border: none;
    background-color: transparent;
}
#chat-input textarea:focus{
    outline: none;
}
#chat-input textarea::-webkit-input-placeholder{
    opacity: 50%;
}

#chat-input #input-button-container {
    display: flex;
    gap: 17px;
    color: #B9B4C7;
    font-size: 16px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 14px;
    align-self: flex-start;
}