#landing {
  display: flex;
  margin: 20px;
  align-items: center;
  flex-direction: column;
}

#landing button {
  position: relative;
  top: 50px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #444a6c;
  border-radius: 7px;
  overflow: hidden;
  background-color: #444a6c;
  font-size: 16px;
  color: white;
  transition: 0.3s;
}

#landing button:hover {
  cursor: pointer;
  color: #444a6c;
  background-color: transparent;
}
